* {
  margin: 0;
  padding: 0;
  font-style: Arial ;
}
// color
$color-white: #FFFFFF;
$color-orange: #f2ab3f;
$color-lightPink: #e86869;
$color-darkGrey: #3d3d3d;
$color-lightGrey: #808080;

// global
.overflow {
  overflow: hidden;
}
.cover {
  background-size: cover;
}

a {
  color: $color-white;
  text-decoration: none;
}
.caption {
  color: $color-orange;
  font-weight: normal;
  text-align: center;
  padding-top: 40px;
    span {
      font-weight: bold;
    }
}
.nativeButton {
  color: black;
  padding: 10px;
  border-left: 3px;
  border-width: 1px 1px 1px 4px;
  border-style: solid;
  border-color: $color-orange;
}
.nativeButton:hover {
  color: $color-orange;
}


.wrapper {
  @extend .overflow;
  .section_1 {
    background-image: url(../img/banner.jpg);
    @extend .cover;
    @extend .overflow;

    .navbar {
      background-color: rgba(0, 0, 0, 0.8);
      .navbar-brand {
        background-image: url(../img/logo.png);
        height: 48px;
        width: 300px;
        margin-left: 2%;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .navbar-toggler {

        border-radius: 10px;
        border: 2px solid $color-white;
          .navbar-toggler-icon {
            color: $color-white;
          }
      }
      .nav-item {
        margin-right: 15%;
      }
    }
    .containerContent {
      margin-left: 7%;
      margin-top: 10%;
      padding-bottom: 100px;
        .title {
          font-size: 36px;
          padding-bottom: 20px;
          span {
            color: $color-lightPink;
          }
        }
        .bannerText {
          padding-bottom: 40px;
        }
    }
  }
  .section_2 {
    @extend .overflow;
    background-color: $color-lightPink;
    color: $color-white;
      .item {
        padding-top: 40px;
    		text-align: center;
        padding-bottom: 80px;
        flex-basis: 200px;
          .nativeButton {
            width: 150px;
            color: $color-white;
          }
          figure {
          	background-color:#df5f60;
          	width: 130px;
          	height: 130px;
          	border-radius:65px;
          	border: 1px solid #df5f60;
          	transition:background ease-out 700ms;
          }
          figcaption {
            padding-top: 20px;
          	font-size: 120%;
          }
          img{
          	margin: 10px;
          }
          .description {
            padding-top: 50px;
          	font-size: 90%;
          }
          figure:hover {
          	border: 1px solid $color-orange;
          	color: $color-orange;
          	background: rgba(255,106,0,0.5);
          }
      }
  }
  .section_3 {
    padding-top: 50px;
    @extend .overflow;
      img {
        padding-top: 10px;
      }
  }
  .section_4 {
  	padding-top: 50px;
  	text-align: center;
    @extend .overflow;
    .item {
    	display: inline-block;
    	width: 360px;
    	position: relative;
    	margin-top: 50px;
      padding-bottom: 20px;

      .backImg {
      	width: 360px;
      }
      .description {
        font-size: 24px;
      }
      .frontImg {
        position: absolute;
      	width: 82px;
      	border-radius: 42px;
      	top: 170px;
      	left: 140px;
      }
      .text-date {
      	margin-top: 80px;
      	font-size: italic;
      	color:  $color-lightPink;
      	margin-bottom: 20px;
      }
    }
  }
  .section_5 {
  	height: 700px;
  	position: relative;
  	background-image:url("../img/map.jpg");
  	@extend .cover;
    .conteinerForm {
      margin-top: 150px;
      padding-right: 20px;
  		height: 550px;
  		background-color: $color-lightPink;
       .caption {
         font-size: 36px;
       }
       .address {
         margin-top: -45px;
         line-height: 32px;
         height: 40px;
         color: $color-white;
         text-align: center;
       }
       form {
          margin-bottom: 60px;
         .input {
          padding: 10px;
          width: 49%;
          margin-left: 1%;
          height: 50px;
        	border: 1px solid $color-white;
        	color: $color-white;
        	background-color: $color-lightPink;
        }
        input::-webkit-input-placeholder {
          color: $color-white;
        }
        .comment {
          height: 160px;
        }
        .submitForm {
          width: 100px;
          height: 60px;
          margin-bottom: -55px;
        }
      }
    }
  }
  .footer {
    @extend .overflow;
    background-color: $color-darkGrey;
    color: $color-lightGrey;
      .buttonUp {
        position: absolute;
        margin-top: 34px;
        margin-left: 90%;
        border: 2px solid $color-orange;
        color: $color-orange;
        padding: 0px 8px 0px 8px;
        cursor: pointer;
      }
      .subNav {
        margin-left: 25%;
        width: 50%;
        .nav-item {
          padding-top: 10px;
          list-style-type: none;
            a {
              color: $color-lightGrey;
            }
        }
      }
      .name {
        text-align: center;
      }
  }
}
