* {
  padding: 0px;
  margin: 0px;
  color: white;
  box-sizing:content-box;
}

a {
  color: white;
}

.button {
  height: 50px;
  width: 190px;
  margin-top: 30px;
  background-color: #0a91ef;
}
.caption1 {
  font-size: 50px;
  border-bottom: 4px solid black;
  padding-bottom: 30px;
  margin-bottom: 20px;
  padding-top: 50px;
  @extend .textCenter;
  @extend .colorBlack;
}

/////////////////////////////General////////////////////////////
//
.backgroundCover {
  background-size: cover;
}
.colorBlack {
  color: black;
}
.textCenter {
  text-align: center;
}
/************Section_1***********************/

.wrapper {
  overflow: hidden;

  .section_1 {
    height: 870px;
    background-image:url("../img/backgraundSection_1.png");
    margin-top: -110px;
    @extend  .backgroundCover;
    .conteiner_text {
      @extend .textCenter;
      border: 5px solid white;
      transform: skew(-40deg);
      background-repeat: no-repeat;
      margin-top: 280px;
      font-size: 100px;
      width: 80%;

        .caption {
          transform: skew(40deg);
        }
    }
      .subtitle {
        font-size: 40px;
        margin-bottom: 220px;
      }
      @media only screen and (max-width: 900px){
        .caption {
          padding-top: 25px;
          font-size: 35px;
          font-weight: 900;
        }
        .subtitle {
          text-align: center;
        }
      }

    ////////////////Menu/////////////////////////////
    .navbar {
      background-color: rgba(0,0,0,0.5);
      position: fixed;
      z-index: 100;
      top: 0;
      .navbar-brand {
        @extend .colorBlack;
        @extend .textCenter;
        width: 120px;
        font-size: 40px;
        background-color: white;
        margin-left: 30px;
      }

        li {
          font-size: 20px;
        }

        .navbar-toggler {
          width: 44px;
          height: 60px;
          border: 3px solid white;
          border-radius: 10px;
            .icon-bar {
              background-color: white;
            }
        }

        .RequestCall {
          background-image: url(../img/iphone.png);
          background-size: 48px;
          background-repeat: no-repeat;
          padding-left: 45px;
          padding-top: 8px;
          font-size: 21px;
          line-height: 4px;
          display: inline-block;
            span {
              font-size: 16px;
              border-bottom: 1px solid white;
            }
        }
        @media only screen and (max-width: 1100px){
          li {
            margin-left: 30px;
          }
        }
    }

  }

/****************Section_2************************/
  .section_2 {
    height: 700px;
    padding-top: 100px;
    @extend .textCenter;
    .conteiner_text_2 {
      background-color: rgba(0,0,0,0.1);
      height: 300px;
      transform: skew(-20deg);
        .caption1 {
          padding-bottom: 6px;
        }
        div {
          transform: skew(20deg);
        }

        @media only screen and (max-width: 1100px){
          transform: skew(0deg);
          padding-top: 10px;
          padding: 0;
            div {
              transform: skew(0deg);
              font-size: 11px;
            }
        }
    }
  }
/****************Section 3*************************/

  .section_3 {
    .tour {
      background-color: #f3f3f3;
      margin-bottom: 5px;
      padding-bottom: 10px;
    }

      img {
        flex-basis: 350px;
        height: 170px;
        margin-top: 10px;
      }
      .textContent {
        width: 580px;
        height: 180px;
        padding-left: 40px;
        @extend .colorBlack;
          h1 {
            font-size: 26px;
            line-height: -10px;
            border-bottom: 1px solid black;
            width: 390px;
            height: 50px;
            @extend .colorBlack;
          }

          .city {
            @extend .textCenter;
            @extend .colorBlack;
            margin-right: 3px;
            height: 25px;
            padding: 0 19px 0 19px;
            background: #D4D5DA;
            font-size: 16px;
            width: 80px;
            transform: skew(-20deg);
          }

          p {
              line-height: 15px;
              margin-left: -15px;
              @extend .colorBlack;

            span {
              font-weight: 900;
              @extend .colorBlack;
            }
          }
      }
      .priceContent {
          flex-wrap: wrap;
          flex-direction: column;
          @extend .colorBlack;
          @extend .textCenter;
        .prise {
          width: 150px;
          font-size: 40px;
          font-weight: 900;
          background: #1f2327;
          margin-bottom: -10px;
          transform: skew(-20deg);
          @extend .colorBlack;
          @extend .textCenter;
            figcaption {
              margin: -5px 0 -5px 0;
            }
        }
        h1 {
          font-size: 16px;
        }
      }
      @media only screen and (max-width: 680px){
          img {
            padding: 0;
          }
          .priceContent {
            padding-top: 35px;
          }
          .textContent {
              h1 {
                margin-left: -23px;
                font-size: 26px;
                width: 100%;
                text-align: center;
              }
              .city {
                width: 80px;
                margin-top: 10px;
              }
            }
            .conteinerCity, .conteinerContent {
              margin:auto;
              width: 260px;
            }
            .prise{
              margin-left: 23px;
            }
      }
  }
  /******************Section 4*****************************/
  .section_4 {

      .button {
        margin-bottom: 200px;
      }
      .carousel {
        padding-top: 5%;
        .carousel-inner {
          width: 72%;
        }
        .buttonCounter1 {
          margin-top: 44px;
          margin-right: 130px;
        }
        .buttonCounter2 {
          margin-top: 44px;
          margin-left: 130px;
        }
        .carousel-item {
          img {
            height: 120px;
            margin-top: 10px;
            margin-right: 8px;
            float: left;
          }
         .text {
            @extend .colorBlack;
          }
          h1 {
           font-size: 26px;
          }
          p {
           font-size: 16px;
           @extend .colorBlack;
          }
        }
      }
      @media only screen and (max-width: 1280px){

       .buttonCounter1, .buttonCounter2 {
         display: none;
       }
       .comment {
         div {
           border: 6px solid white;
         }
       }
       .carousel-item {
         img {
           padding-right: 100px;
          }
        }
      }
  }
  /////////////////////Section 5///////////////////////////
  .section_5 {
    height: 500px;
    background-image: url(../img/backgraund_5.png);
    @extend .textCenter;
    @extend .backgroundCover;
    .tableCenter {
      margin-top: 40px;
      background-color: rgba(0,0,0,0.6);
      height: 260px;
      transform: skew(-20deg);
          div {
            transform: skew(20deg);
          }
          .call {
            width: 520px;
            height: 50px;
            color: #5a696f;
            background-color: rgba(0,0,0,0.5);
            border: 0px;
          }
          p {
            font-size: 20px;
          }
          .caption1 {
            color:white;
          }
    }
    .tableLeft {
      margin-bottom: 40px;
      margin-right: -40px;
    }
    .tableRight {
      margin-top: 40px;
      margin-left: -40px;
    }
    @media only screen and (max-width: 1280px){
      .tableLeft, .tableRight {
        display: none;
      }
      .tableCenter {
        transform: skew(0deg);

        div {
          transform: skew(0deg);
          .call {
            margin-left: auto;
            width: 80%;
          }
          .button {
            margin-left:auto;
          }
          .cption1 {
            font-size: 30px;
          }
          p {
            font-size: 10px;
            padding-top: 5%;
          }
        }
      }
    }
  }
}
