* {
	padding: 0;
	margin: 0;
	color:white;
	text-decoration:none;
	font-family: sans-serif;
}
.cover {
	background-size: cover;
}
.overflow {
	overflow: hidden;
}
.textCenter {
	text-align: center;
}
.button {
	font-size: 26px;
	@extend .textCenter;
	width: 250px;
	height: 50px;
	padding-top: 7px;
	display: inline-block;
	color: white;
	border-radius: 60px;
	background: linear-gradient(#009e06, #009304) #009304;
}

.wrapper {
	@extend .overflow;

/********header*********/
	.header {
		@extend .cover;
		@extend .overflow;
		background-image: url('../img/Layer.png');

		.logo {
			padding-top: 14px;
			padding-left: 8%;
			float: left;
				img {
					height: 77px;
					width: 230px;
				}
		}
		.container {
			width: 400px;
			height: 500px;
			background-color: rgba(0,0,0,0.8);
			float: right;
			margin-right: 10%;
			margin-bottom: 200px;
			padding-bottom: 30px;
				.bigLetters {
					font-size: 50px;
					font-weight: 900;
					@extend .textCenter;
				}
				.smallLetters {
					font-size: 20px;
					font-weight: 100;
					@extend .textCenter;
				}
				img {
					height: 170px;
					padding-top: 20px;
					padding-bottom: 20px;
				}
				.button {
					font-size: 12px;
					margin-top: 6%;
					padding: 0;
						span {
							margin-top: 2%;
							font-size: 20px;
							display: block;
						}
				}
				@media only screen and (max-width: 600px) {
					margin: 0;
					margin-top: 20px;
				}
		}
		.content {
			padding-top: 130px;
			padding-left: 10%;
				.topic {
					font-size: 82px;
					line-height: 80px;
					font-weight: 750;
				}
				li {
					list-style: none;
					background: url('../img/tick.png') no-repeat;
					padding-left: 50px;
					line-height: 38px;
					font-size: 20px;
				}
				@media only screen and (max-width: 600px) {
					padding: 0;
						.topic {
							font-size: 54px;
						}
				}
	 	}
		.listPartners {
			padding-left:12%;
			padding-top:2%;
			width: 80%;
		}
	}


/********header*********/

/********section_1*****/
	.section_1 {
		@extend .cover;
		@extend .overflow;
		background-image:url('../img/fon_.png');
		padding: 50px 0px 50px 0px;
			figure {
				margin-top: 80px;
				background-color: white;
				width: 160px;
				height: 160px;
				border-radius: 85px;
				border: 3px solid #a90d2a;
					img {
						margin: 26px;
						height: 100px;
					}
					.figcaptionText {
						padding-top: 20px;
						font-size: 18px;
						color: #333333;
						@extend .textCenter;
					}
			}
			.button {
				margin-top: 200px;
			}
	}
/********section_1*****/

/*******section_2******/
	.section_2 {
		@extend .cover;
		@extend .overflow;
		background-image: url('../img/fon_3.png');
		.subLogo {
			color: #333333;
			padding-top: 20px;
			padding-left: 2%;
				p {
					background-image: url('../img/subLogo.png');
					background-repeat: no-repeat;
					padding-left: 120px;
					line-height: 70px;
					float: left;
					display: inline;
					margin-top: 4%;
					color: #333333;
					font-size:26px;
				}
		}
		.textContent {
			margin-left:2%;
			float: left;
				p {
					font-size:18px;
					color:#333333;
				}
		}
		.imgDevice {
			float: right;
			width: 550px;
			height: 300px;
			background-image: url('../img/device.png');
		}
	}
/*******section_2******/

/*******section_3******/
	.section_3 {
		@extend .cover;
		@extend .overflow;
		background-image: url('../img/fon_4.png');
			.crisper {
				@extend .overflow;
				flex-basis: 600px;
				float: left;
				margin-left:5%;
					img {
						margin-top:10px;
					}
					h1 {
						font-size:24px;
					}
					p {
						font-size:20px;
					}
			}
	}
/*******section_3******/

/*******section_4******/
	.section_4 {
		background-image: url('../img/fon_.png');
		@extend .cover;
		@extend .overflow;
			figure {
				padding-top: 6%;
				width: 250px;
					img {
						margin-left: 30%;
						width: 90px;
						height: 160px;
					}
					figcaption {
						color: #4f5251;
						font-size: 14px;
						@extend .textCenter;
							span {
								color: #4f5251;
								font-size: 18px;
							}
				}
		}
	}
/*******section_4******/

/*******footer********/
	.footer {
		@extend .cover;
		@extend .overflow;
		background-image: url('../img/fon_4.png');
			.containerLog {
				float: left;
				margin-top: 2%;
				width: 100%;
					.button {
						margin-top: 3%;
					}
					.arrList_1 {
						background-image: url('../img/arrList.png');
						background-repeat: no-repeat;
						background-size: 100%;
						height: 90px;
						margin-top: 20px;
						padding-bottom: 100px;
					}
			}
			.containerText {
				padding-left: 5%;
					p {
						color: #4f5251;
						font-size: 14px;
					}
					a {
						color: #4f5251;
						border-bottom: 1px solid #4f5251;
					}
			}
/*******footer********/
	}
}
