* {
  margin: 0;
  padding: 0;
  font-style: Arial; }

.overflow, .wrapper, .wrapper .section_1, .wrapper .section_2, .wrapper .section_3, .wrapper .section_4, .wrapper .footer {
  overflow: hidden; }

.cover, .wrapper .section_1, .wrapper .section_5 {
  -webkit-background-size: cover;
          background-size: cover; }

a {
  color: #FFFFFF;
  text-decoration: none; }

.caption {
  color: #f2ab3f;
  font-weight: normal;
  text-align: center;
  padding-top: 40px; }
  .caption span {
    font-weight: bold; }

.nativeButton {
  color: black;
  padding: 10px;
  border-left: 3px;
  border-width: 1px 1px 1px 4px;
  border-style: solid;
  border-color: #f2ab3f; }

.nativeButton:hover {
  color: #f2ab3f; }

.wrapper .section_1 {
  background-image: url(../img/banner.jpg); }
  .wrapper .section_1 .navbar {
    background-color: rgba(0, 0, 0, 0.8); }
    .wrapper .section_1 .navbar .navbar-brand {
      background-image: url(../img/logo.png);
      height: 48px;
      width: 300px;
      margin-left: 2%;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; }
    .wrapper .section_1 .navbar .navbar-toggler {
      -webkit-border-radius: 10px;
              border-radius: 10px;
      border: 2px solid #FFFFFF; }
      .wrapper .section_1 .navbar .navbar-toggler .navbar-toggler-icon {
        color: #FFFFFF; }
    .wrapper .section_1 .navbar .nav-item {
      margin-right: 15%; }
  .wrapper .section_1 .containerContent {
    margin-left: 7%;
    margin-top: 10%;
    padding-bottom: 100px; }
    .wrapper .section_1 .containerContent .title {
      font-size: 36px;
      padding-bottom: 20px; }
      .wrapper .section_1 .containerContent .title span {
        color: #e86869; }
    .wrapper .section_1 .containerContent .bannerText {
      padding-bottom: 40px; }

.wrapper .section_2 {
  background-color: #e86869;
  color: #FFFFFF; }
  .wrapper .section_2 .item {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 80px;
    -webkit-flex-basis: 200px;
        -ms-flex-preferred-size: 200px;
            flex-basis: 200px; }
    .wrapper .section_2 .item .nativeButton {
      width: 150px;
      color: #FFFFFF; }
    .wrapper .section_2 .item figure {
      background-color: #df5f60;
      width: 130px;
      height: 130px;
      -webkit-border-radius: 65px;
              border-radius: 65px;
      border: 1px solid #df5f60;
      -webkit-transition: background ease-out 700ms;
      -o-transition: background ease-out 700ms;
      transition: background ease-out 700ms; }
    .wrapper .section_2 .item figcaption {
      padding-top: 20px;
      font-size: 120%; }
    .wrapper .section_2 .item img {
      margin: 10px; }
    .wrapper .section_2 .item .description {
      padding-top: 50px;
      font-size: 90%; }
    .wrapper .section_2 .item figure:hover {
      border: 1px solid #f2ab3f;
      color: #f2ab3f;
      background: rgba(255, 106, 0, 0.5); }

.wrapper .section_3 {
  padding-top: 50px; }
  .wrapper .section_3 img {
    padding-top: 10px; }

.wrapper .section_4 {
  padding-top: 50px;
  text-align: center; }
  .wrapper .section_4 .item {
    display: inline-block;
    width: 360px;
    position: relative;
    margin-top: 50px;
    padding-bottom: 20px; }
    .wrapper .section_4 .item .backImg {
      width: 360px; }
    .wrapper .section_4 .item .description {
      font-size: 24px; }
    .wrapper .section_4 .item .frontImg {
      position: absolute;
      width: 82px;
      -webkit-border-radius: 42px;
              border-radius: 42px;
      top: 170px;
      left: 140px; }
    .wrapper .section_4 .item .text-date {
      margin-top: 80px;
      font-size: italic;
      color: #e86869;
      margin-bottom: 20px; }

.wrapper .section_5 {
  height: 700px;
  position: relative;
  background-image: url("../img/map.jpg"); }
  .wrapper .section_5 .conteinerForm {
    margin-top: 150px;
    padding-right: 20px;
    height: 550px;
    background-color: #e86869; }
    .wrapper .section_5 .conteinerForm .caption {
      font-size: 36px; }
    .wrapper .section_5 .conteinerForm .address {
      margin-top: -45px;
      line-height: 32px;
      height: 40px;
      color: #FFFFFF;
      text-align: center; }
    .wrapper .section_5 .conteinerForm form {
      margin-bottom: 60px; }
      .wrapper .section_5 .conteinerForm form .input {
        padding: 10px;
        width: 49%;
        margin-left: 1%;
        height: 50px;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background-color: #e86869; }
      .wrapper .section_5 .conteinerForm form input::-webkit-input-placeholder {
        color: #FFFFFF; }
      .wrapper .section_5 .conteinerForm form .comment {
        height: 160px; }
      .wrapper .section_5 .conteinerForm form .submitForm {
        width: 100px;
        height: 60px;
        margin-bottom: -55px; }

.wrapper .footer {
  background-color: #3d3d3d;
  color: #808080; }
  .wrapper .footer .buttonUp {
    position: absolute;
    margin-top: 34px;
    margin-left: 90%;
    border: 2px solid #f2ab3f;
    color: #f2ab3f;
    padding: 0px 8px 0px 8px;
    cursor: pointer; }
  .wrapper .footer .subNav {
    margin-left: 25%;
    width: 50%; }
    .wrapper .footer .subNav .nav-item {
      padding-top: 10px;
      list-style-type: none; }
      .wrapper .footer .subNav .nav-item a {
        color: #808080; }
  .wrapper .footer .name {
    text-align: center; }
